* {
    padding: 0;
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    color: white;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* box1 */
.nav-logo {
    height: 50px;
    width: 110px;
}

.logo {
    background-image: url(logo/amazon_logo.png);
    height: 50px;
    width: 114px;
    background-size: cover;
}

.border {
    border: 2px solid transparent;
    
}

.border:hover {
    border: 0.5px solid white;
    border-radius: 2%;
}

/* box2 */
.nav-address {
    height: 50px;
    width: 86px;
    /* margin-top: 15px; */
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;
}

.add-second {
    font-size: 1rem;
    margin-left: -0.5px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.centre {
    margin-top: 10px;
}

/* box3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 3px
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: orange;
     border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}

.nav-search:hover {
    border: 1px solid orange;
}

/* box 4 */
.search-logo {
    background-image: url(logo/world.png);
    height: 13px;
    width: 16px;
    background-size: cover;
    margin-right: 4px;
}

.icon-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 10px;
    width: 100px; */
    margin-top: 15px;
    margin-left: 5px;
}

.nav-icon {
    height: 50px;
}

.icon-select {
    font-size: 15px;
    background-color: #0f1111;
    color: white;
    border: none;
    opacity: 2px;
    font-weight: 700;
}

/* box 5 */
.nav-signin {
    height: 50px;
    width: 118px;
}

.nav-text {
    /* margin-top: 7px;
    margin-left: 5px;
    margin-right: 2px; */
    margin: 5px;
}

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 6 */
.nav-return {
    height: 50px;
    width: 80px;
}

.nav-text2 {
    margin: 5px;
    margin-left: 7px;
}

/* box 7  */
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    height: 50px;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* panel */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
        margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */
.hero-section {
    background-image: url(images/hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}

/* shop section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    /* border: 2px solid black; */
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
}

/* footer */
footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.foot-panel1:hover {
    cursor: pointer;
    opacity: 0.95;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 ul p {
    font-weight: 700;
}

.foot-panel2 ul a:hover {
    cursor: pointer;
    text-decoration: dashed;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-amz {
     background-image: url(logo/amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}

.foot-panel4 {
    background-color: #131A22;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}

.cursor {
    cursor: pointer;
}